{% extends "BiBundle:Member:layout.html.twig" %}

{% block members %}

	<h1>Profil użytkownika {{ member.username }}</h1>

{% endblock %}

{% block ct %}

	<div class="profile-container">

		<div class="profile-right">
			<table>
				<tr>
					<td>
						{% if member.email %}
							
							<a href="mailto:{{ member.email }}">{{ member.email }}</a>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						{% if member.name %}
							{{ member.name }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						{% if member.lname %}
							{{ member.lname }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						{% if member.tel %}
							Telefon: {{ member.tel }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						{% if not isMyFriend %}
							<a href="{{ path('bi_member_add_friend', {friend:member.id}) }}">Dodaj znajomego</a>
						{% else %}
							to Twój znajomy
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
		<div class="profile-left">
			{% if member.img %}
				<img src="{{ upload_path ~ member.img }}" class='profile-thumb'/>
			{% endif %}
		</div>
	</div>

{% endblock %}
