<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ path('forum_homepage') }}" class="pure-menu-link">Forum</a></li>
        <li class="pure-menu-item"><a href="{{ path('bi_user_blog', {id:1}) }}" class="pure-menu-link">Blog</a></li>
        <li class="pure-menu-item"><a href="{{ path('bi_history_index') }}" class="pure-menu-link">Historia</a></li>
        <li class="pure-menu-item"><a href="{{ path('bi_tab_index') }}" class="pure-menu-link">Tabulatury</a></li>
        <li class="pure-menu-item"><a href="{{ path('bi_member_index') }}" class="pure-menu-link">Użytkownicy</a></li>
    </ul>
</div>
